#access {
	background: #373c51;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}

#site-title {
    display: none;
}

#site-description {
    display: none;
}

.post {
    background: #f2f7fc;
	border-top: 4px solid #373c51;
    margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}

#access li:hover > a{
	background: #333;
	color: #fff;
}
#access ul ul :hover > a {
	background: #444;
	color: #fff;
}
#main .widget-area {
    display:none;
}
#content {
	margin: 0 20px 0 20px;

}
#footer #site-info img{
	width: 50px;
	height: 50px;
	float: left;
}

#footer .site-info-title{
	float: left;
	margin-left: 10px;
}

#footer #right-side-info div{
	float: right;
	height: 50px;
}

#footer #right-side-info #socialbuttons img, #footer #right-side-info #mediabutton-youtube img{
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

#footer #right-side-info #mediabutton-twitch img{
	height: 20px;
	margin-right: 10px;
}

/**#footer #colophon{
	background-color: #373C51;
}*/



