
#tribe-events-bar, .tribe-events-page-title {
    display: none;
}

#content .tribe-events-list {
    margin-left: -20px;
    margin-right: -20px;
}

#content .tribe-events-list .type-tribe_events {
    background: #f2f7fc;
	border-top: 4px solid #373c51;
	padding: 18px 20px;
    margin: 0 0 48px;
}

#content .tribe-events-list .type-tribe_events  h2 {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

#content .tribe-events-list .type-tribe_events.tribe-events-first {
    padding: 18px 20px;
}

#content .tribe-events-list .type-tribe_events .tribe-events-content {
    padding: 12px 0 0;
}

#content .tribe-events-list .type-tribe_events h2 a:link,
#content .tribe-events-list .type-tribe_events h2 a:visited {
    color: #000;
    text-decoration: none;
}

#content .tribe-events-list .type-tribe_events h2 a:active,
#content .tribe-events-list .type-tribe_events h2 a:hover {
	color: #ff4b33;
}

#content .tribe-events-list .type-tribe_events .tribe-events-event-meta {
    color: #777;
    margin: 0;
    font-size: 12px;
    font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

#content .tribe-events-list-separator-month {
    background: #373c51;
    display: block;
    color: #fff;
    padding: 2px 10px;
    margin-bottom: 20px;
}

#content .tribe-events-ical {
    display: none;
}

#tribe-events-footer {
    display: none;
}


#tribe-events-header {
    display: none;
}

#content .tribe-events-cal-links {
    display: none;
}

#content .tribe-events-single-event-title {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0px;
}

#content .tribe-events-schedule .tribe-event-date-start, #content .tribe-events-schedule .tribe-event-date-end {
    font-size: 18px;
    color: #777;
}

#content .tribe-events-back a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#content .tribe-events-back a:link,
#content .tribe-events-back a:visited {
    color: #000;
    text-decoration: none;
}

#content .tribe-events-back a:active,
#content .tribe-events-back a:hover {
	color: #ff4b33;
}

#content .tribe-events-event-meta dt {
    clear: none;
    float: left;
    margin: 0 10px;
}

#content .tribe-events-event-meta dd {
    float: left;
    margin: 0 20px 0 0;
}